<ion-header>
  <ion-toolbar>
    <ion-title>
      Só Gela
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="http://2.bp.blogspot.com/-ThtvoM8inhc/UC6Ceg25OvI/AAAAAAAATeY/XojtVp6MMw0/s1600/obama_12.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Beba com moderação.</ion-card-subtitle>
        <ion-card-title>Bem Vindo, ao Só Gela.</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Só gela é um software desenvolvido no intuito de ajudar pessoas a achar bebibas em promoção e junta a galera pra beber.</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
